- name: Ensure ~/.dotfiles directory exists
  ansible.builtin.file:
    path: "{{ add_dotfiles_from_repo_dotfile_path }}"
    state: directory
    mode: '0755'

- name: Clone or update dotfile repos
  ansible.builtin.git:
    repo: "{{ add_dotfiles_from_repo_dotfile_repo }}"
    dest: "{{ add_dotfiles_from_repo_dotfile_path }}/{{ add_dotfiles_from_repo_dotfile_name }}"
    update: true
    version: main
    force: true

- name: Stow each dotfile
  ansible.builtin.command:
    cmd: >
      stow -d {{ add_dotfiles_from_repo_dotfile_path }}/{{ add_dotfiles_from_repo_dotfile_name }}
      -t ~ {{ add_dotfiles_from_repo_dotfile_repo_dir }} --adopt
    chdir: "{{ add_dotfiles_from_repo_dotfile_path }}/{{ add_dotfiles_from_repo_dotfile_name }}"
  register: stow_result
  changed_when: stow_result.rc != 0 or stow_result.stderr != ""

- name: Restore git
  ansible.builtin.git:
    repo: "{{ add_dotfiles_from_repo_dotfile_repo }}"
    dest: "{{ add_dotfiles_from_repo_dotfile_path }}/{{ add_dotfiles_from_repo_dotfile_name }}"
    version: main
    force: true
