- name: Install dependencies for NVM
  become: true
  ansible.builtin.apt:
    name: ["curl", "git"]
    state: present
  when: ansible_os_family == 'Debian'

- name: Download and install NVM
  ansible.builtin.shell:
    cmd: |
      set -o pipefail
      curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v{{ npm_nvm_version }}/install.sh | bash
    creates: "{{ ansible_env.HOME }}/.nvm/nvm.sh"
    executable: /bin/bash

- name: Source NVM and install Node.js (if needed)
  ansible.builtin.shell: |
    export NVM_DIR="{{ ansible_env.HOME }}/.nvm"
    [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
    if ! command -v nvm &> /dev/null; then
      echo "NVM is not installed. Please install NVM first."
      exit 1
    fi
    if ! nvm ls {{ npm_node_version }} &> /dev/null; then
      nvm install {{ npm_node_version }}
    fi
    nvm use {{ npm_node_version }}
  args:
    executable: /bin/bash
  register: nvm_result
  changed_when: "'is not installed' in nvm_result.stdout or 'Downloading and installing Node.js' in nvm_result.stdout"
  ignore_errors: true

- name: Check if shell config file exists
  ansible.builtin.stat:
    path: "{{ shell_config }}"
  register: file_stat

- name: Ensure shell config file exists for the user
  ansible.builtin.file:
    path: "{{ shell_config }}"
    state: touch
    mode: "0644"
  when: not file_stat.stat.exists

- name: Add nvm source to shell config
  ansible.builtin.blockinfile:
    path: "{{ shell_config }}"
    block: |
      export NVM_DIR="$HOME/.nvm"
      [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # Loads NVM
      [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # Loads NVM bash completion
    marker: "# {mark} ANSIBLE MANAGED BLOCK - NVM"
    insertafter: EOF
    mode: "0644"
  notify: Source shell_config
