---
- name: Check existing Nix packages
  when: nix_install_nix_packages | length > 0
  ansible.builtin.shell: |
    source "{{ nix_profil_path }}"
    nix profile list | grep -E '^(Name|Flake attribute):' | awk '{print $NF}' | sed 's/.*\.//'
  args:
    executable: /bin/bash
  register: nix_existing_packages
  changed_when: false
  failed_when: false

- name: Install user packages via Nix
  when:
    - nix_install_nix_packages | length > 0
    - (item | split('#') | last) not in nix_existing_packages.stdout_lines
  ansible.builtin.shell: |
    source "{{ nix_profil_path }}"
    {% if nix_install_allow_unfree %}
    export NIXPKGS_ALLOW_UNFREE=1
    nix profile add --impure {{ item }}
    {% else %}
    nix profile add {{ item }}
    {% endif %}
  args:
    executable: /bin/bash
  loop: "{{ nix_install_nix_packages }}"
  register: nix_install_result
  changed_when: nix_install_result.rc == 0
  failed_when:
    - nix_install_result.rc != 0
    - "'already provides the following file' not in nix_install_result.stderr"