---
- name: Install development tools
  hosts: localhost
  tags: [dev, development]

  roles:
    # Editors and Git
    - role: neovim
      tags: [editor, dev]
    - role: lazygit
      tags: [git, dev]
    - role: opencode
      tags: [editor, dev]

    # Linters
    - role: ansible-lint
      tags: [linter, dev]
    - role: markdownlint-cli
      tags: [linter, dev]
    - role: hadolint
      tags: [linter, dev, docker]

    # Language Servers
    - role: yaml-language-server
      tags: [lsp, dev]
    - role: marksman
      tags: [lsp, dev]
    - role: lua-language-server
      tags: [lsp, dev]
    - role: bash-language-server
      tags: [lsp, dev]

    # Formatters
    - role: prettier
      tags: [formatter, dev]
