---
- name: Install development tools
  hosts: localhost

  roles:
    # Editors and Git
    - neovim
    - lazygit
    - opencode

    # Linters
    - ansible-lint
    - markdownlint-cli
    - hadolint

    # Language Servers
    - yaml-language-server
    - marksman
    - lua-language-server
    - bash-language-server

    # Formatters
    - prettier
