---
- name: Install user packages via Nix
  when: nix_packages | length > 0
  shell: |
    source "{{ nix_profil_path }}"
    nix-env -iA nixpkgs.{{ item }}
  args:
    executable: /bin/bash
  loop: "{{ nix_packages }}"
  register: nix_install
  changed_when: "'installing' in nix_install.stdout or 'building' in nix_install.stdout"
