---
- name: Install user packages {{ nix_packages }} via Nix
  when: nix_packages | length > 0
  shell: |
    source "{{ nix_profil_path }}"
    nix profile add {{ item }}
  args:
    executable: /bin/bash
  loop: "{{ nix_packages }}"
  register: nix_install
  changed_when: "'already added' not in nix_install.stderr"
