---
- name: Ensure the directory exists
  ansible.builtin.file:
    path: "{{ add_to_path_path_directory }}"
    state: directory
    mode: '0755'

- name: Add directory to PATH in shell config
  ansible.builtin.blockinfile:
    path: "{{ shell_config }}"
    block: |
     export PATH="$PATH:{{ add_to_path_path_directory }}"
    marker: "# {mark} ANSIBLE MANAGED BLOCK - CUSTOM PATH {{ add_to_path_path_directory }}"
    insertafter: 'EOF'
    state: present

- name: Include source role
  ansible.builtin.include_role:
    name: source
  vars:
    source_path: "{{ shell_config }}"
