---
- name: Check if .zshrc exists
  ansible.builtin.stat:
    path: "{{ ansible_env.HOME }}/.zshrc"
  register: zshrc_stat

- name: Create .zshrc if it doesn't exist
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.zshrc"
    state: touch
    mode: '0644'
  when: not zshrc_stat.stat.exists
- name: Install zsh using nix_install role
  include_role:
    name: nix_install
  vars:
    nix_packages:
      - nixpkgs#zsh

- name: Install ohMyZsh without modifying .zshrc
  ansible.builtin.shell: |
    if [ -d "{{ ansible_env.HOME }}/.oh-my-zsh" ]; then
      echo "ohMyZsh already installed"
    else
      git clone --depth=1 https://github.com/ohmyzsh/ohmyzsh.git ~/.oh-my-zsh
    fi
  args:
    executable: /bin/bash
  become: yes
  become_user: "{{ ansible_user }}"
  register: ohmyzsh_install
  changed_when: "'already installed' not in ohmyzsh_install.stdout"

- name: Add ohMyZshConfig
  ansible.builtin.blockinfile:
    path: "{{ shell_config }}"
    block: |
      export ZSH="$HOME/.oh-my-zsh"
      ZSH_THEME="gnzh"
      plugins=(git)
      source $ZSH/oh-my-zsh.sh
    marker: "# {mark} ANSIBLE MANAGED BLOCK - OHMYZSH"
    insertafter: EOF
    mode: "0644"
  notify: Source shell_config
