---
- name: Check if .zshrc exists
  ansible.builtin.stat:
    path: "{{ ansible_env.HOME }}/.zshrc"
  register: zshrc_stat

- name: Create .zshrc if it doesn't exist
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.zshrc"
    state: touch
    mode: "0644"
  when: not zshrc_stat.stat.exists
- name: Install zsh using nix_install role
  ansible.builtin.include_role:
    name: nix_install
  vars:
    nix_install_nix_packages:
      - nixpkgs#zsh

- name: Add zsh to /etc/shells if not present
  ansible.builtin.lineinfile:
    path: /etc/shells
    line: "{{ ansible_env.HOME }}/.nix-profile/bin/zsh"
    state: present
  become: true

- name: Get current shell for user
  ansible.builtin.getent:
    database: passwd
    key: "{{ ansible_user }}"
  register: user_info

- name: Set zsh as default shell
  ansible.builtin.user:
    name: "{{ ansible_user }}"
    shell: "{{ ansible_env.HOME }}/.nix-profile/bin/zsh"
  become: true
  when: user_info.ansible_facts.getent_passwd[ansible_user][5] != ansible_env.HOME ~ '/.nix-profile/bin/zsh'

- name: Install ohMyZsh without modifying .zshrc
  ansible.builtin.shell: |
    if [ -d "{{ ansible_env.HOME }}/.oh-my-zsh" ]; then
      echo "ohMyZsh already installed"
    else
      git clone --depth=1 https://github.com/ohmyzsh/ohmyzsh.git ~/.oh-my-zsh
    fi
  args:
    executable: /bin/bash
  become: true
  become_user: "{{ ansible_user }}"
  register: ohmyzsh_install
  changed_when: "'already installed' not in ohmyzsh_install.stdout"

- name: Install zsh-syntax-highlighting plugin
  ansible.builtin.git:
    repo: https://github.com/zsh-users/zsh-syntax-highlighting.git
    dest: "{{ ansible_env.HOME }}/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"
    depth: 1
    update: false
    version: master
  become: true
  become_user: "{{ ansible_user }}"

- name: Install zsh-autosuggestions plugin
  ansible.builtin.git:
    repo: https://github.com/zsh-users/zsh-autosuggestions.git
    dest: "{{ ansible_env.HOME }}/.oh-my-zsh/custom/plugins/zsh-autosuggestions"
    depth: 1
    update: false
    version: master
  become: true
  become_user: "{{ ansible_user }}"

- name: Add ohMyZshConfig
  ansible.builtin.blockinfile:
    path: "{{ shell_config }}"
    block: |
      export ZSH="$HOME/.oh-my-zsh"
      ZSH_THEME="gnzh"
      plugins=(git vscode zsh-syntax-highlighting zsh-autosuggestions)
      source $ZSH/oh-my-zsh.sh
    marker: "# {mark} ANSIBLE MANAGED BLOCK - OHMYZSH"
    insertafter: EOF
    mode: "0644"
